* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}



.pixel {
  width: 1.5em;
  height: 1.5em;
  border: solid 1 1 1 1 #333;
  background-color: #111;
}

#screen-table {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#screen {
	margin-left: auto;
	margin-right: auto;
	float: none;
  width: auto;
}
